@use "../../foundation/mixin" as *;

.c-font {
    &__Mplus1 {
    font-family: 'M PLUS 1',sans-serif;
}
    &__Robot {
    font-family: 'Robot',sans-serif;
}
    &__Mplus1Code {
    font-family: 'M PLUS 1 Code', sans-serif;
}
}