@use "../../foundation/mixin" as *;

.p-branch-menu {
    width: 100%;
    height: auto;
    background-color: $white;
    display: block;
    padding: 5.3%;
    @include mq(tab){
        display: flex;
        padding: 4.7%;
        gap: 4.7%;
    }
    @include mq(pc){
        display: flex;
    }

    @mixin menuBox{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    >ul {
        display: block;
        height: 40%;
        gap: 4.7%;
        @include mq(tab){
            display: flex;
        }
        @include mq(pc){
            display: flex;
        }

        >li {
            display: flex;
        }
    }
    &__01 {
        @include menuBox;
        background: url(/img/take-out.png);
        background-size:cover;
    }
    &__02 {
        @include menuBox;
        background: url(/img/eat-in.png);
        background-size:cover;
    }
    @mixin menuTitle{

    }

    &__title {
        position: absolute;
        top: 13px;
        left: 15px;
        color: $white;
        font-weight: 700;
        @include rem(41);
        @include mq(tab) {
            top: 2%;
            left: 11px;
            @include rem(44);
        };
        @include mq(pc){
            top: 24px;
            left: 11px;
            @include rem(80);
        };
        .p-branch-menu__line {
            border: solid $white 4px;
            width: 20%;
            margin: 25px 15px;
        }
    }

    &__whiteBox {
        background-color: $white;
        opacity: 0.8;
        padding: 8px 16px;
        margin: 16px;

        >dl {
            font-weight: 700;
            margin: 0 0 8px 0;
            @include rem(22);

            @include mq(tab){
                @include rem(24);
            }
            @include mq(pc){
                @include rem(24);
            }
        }
    }
    
    &__detail {
        margin: 298px 0 0 0;

        @include mq(tab){
            margin: 340px 0 0 0;
        }
        @include mq(pc){
            margin: 824px 0 0 0;
        }
    }

    // &__02 {
    //     width: 40%;
    //     height: auto;
    //     background: url(/img/eat-in.png);
    //     position: relative;
    // }

    // @mixin menu-box {
    //     background-color: $white;
    //     top: 2%;
    //     left: 11px;
    //     position: absolute;
    //     font-weight: 700;
    //     @include rem(41);

    //     @include mq(tab){
    //         @include rem(44);
    //     }
    //     @include mq(pc){
    //         @include rem(80);
    //     }
    // }

    // &__title01 {
    //     @include menu-box;
    // }
    // &__title02 {
    //     @include menu-box;
    // }
    // &__line {
    //     border: solid $white 1px;
    //     width: 10%;
    //     top: 13%;
    // }
    // &__detail {
    // position: absolute;
    // top: 46%;
    // padding: 4.7%;
    //     @include mq(pc){
    //         top: 68%;
    //     }
    // }
    // &__whiteBox {
    // background-color: $white;
    // width: 100%;
    // height: auto;
    // margin: 16px 0;
    // overflow: hidden;
    // opacity: 0.8;

    // >dl {
    //     font-weight: 700;
    //     padding: 14px 20px;
    //     @include rem(22);
    //     @include mq(tab){
    //         @include rem(24);
    //     }
    // }
    // >dt {
    //     padding: 4px 20px 14px 20px;
    //     @include rem(16);
    //     text-overflow : clip;
    //     @include mq(tab){
    //         @include rem(14);
    //     }
    //     @include mq(pc){
    //         @include rem(16);
    //     }
    // }
}
