@use "../../foundation/mixin" as *;

//ファーストビュー
.p-firstview {
    width: 100%;
    height: auto;
    position: relative;

    >img {
        width: 100%;
        height: auto;
    }
    
    &__title {
        position: absolute;
        top: 43%;
        left: 6.7%;
        @include rem(36);

        @include mq(tab){
            left: 10%;
        };

        @include mq(pc){
            @include rem(40);
            top: 44%;
            left: 5.5%;
        };
    }
}