@use "../../foundation/mixin" as *;

.p-header-text {
    &__title {
        color: $gray;
        padding: 43px 0 0 0;
        text-align: center;
        font-weight: 700;
        
        >h1 {
            @include rem(40);
            @include mq(pc){
                @include rem(64);
            }
        }

        @include mq(pc){
            padding: 65px;
        }

    //     &.c-font__Robot {
    //          @include rem(40);
    //     @include mq(pc){
    //         @include rem(64);
    //     }
    // }
}
}