@use "../foundation/mixin" as *;

//フッター
.l-footer {
    width: 100%;
    height: auto;
    background: url(/img/footer.png);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}