@use "../foundation/mixin" as *;

//ヘッダー
.l-header {
    background-color: #FFF7EF;
    width: 100%;
    position: relative;

    @include mq(pc){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
