@use "../foundation/mixin" as *;


.l-header {
    background-color: $beige;
    width: 100%;

    @include mq(pc){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
